html, body {
    height: 100%;
    width: 1440px;
    margin: 0;
    padding: 0;
    background-color: #FFF5F3;
    font-family: "Outfit", sans-serif;
    overflow: hidden; 
  }

header {
    overflow: hidden; 
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFF5F3;
    border-bottom: 4px solid #FF0037;
    height: 88px;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 88px;
}

.navbar a {
    color: #ff0037;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
    letter-spacing: -0.6px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    margin-right: 50px;
}

.navbar a:hover, .navbar a.active {
    background-color: #ff0037;
    color: #FFF5F3;
}

.navbar li {
    float: right;
}

.image {
    width: 85px;
    height: 59px;
}

.image .logo {
    position: absolute;
    width: 85px;
    height: 59px;
    top: 18px;
    left: 32px;
}

.content-container {
    position: relative;
    top: 88px; 
    height: calc(100% - 88px); 
    overflow-y: auto; 
    padding: 0;
}
  
.content-container::-webkit-scrollbar {
    width: 15px;
}
  
.content-container::-webkit-scrollbar {
    background: #FFF5F3;
    border-left: 4px solid #FF0037;
}
  
.content-container::-webkit-scrollbar-thumb {
    background: #FF0037;
}

.text-wrapper-1 {
    margin-top: 20px;
    margin-left: 213px;
    font-size: 122px;
    letter-spacing: -2px;
    color: #FF0037;
}

.line-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.line {
    height: 4px;              
    background-color: #FF0037; 
    width: 100%;
    position: relative;
    margin-top: 68px;
}

.btn-with-svg {
    display: inline-flex;
    align-items: centre;
    justify-content: space-between;
    padding: 14px 11px 14px 38px;
    font-family: Outfit;
    font-size: 30px;
    background-color: #FE91A1;
    color: #FFF5F3;
    border: 4px solid #FF0037;
    cursor: pointer;
    transition: background-color 0.5s ease;
    gap: 53px;
    position: absolute;
    margin-top: -3px;
    margin-left: 213px;
    transform: translateY(-50%)
}

.btn-with-svg .icon {
    width: 32px;
    height: 32px;
}

.btn-with-svg:hover {
    background-color: #FF0037;
}

.btn-with-svg-2 {
    display: inline-flex;
    align-items: centre;
    justify-content: space-between;
    padding: 14px 11px 14px 38px;
    font-family: Outfit;
    font-size: 30px;
    background-color: #FE91A1;
    color: #FFF5F3;
    border: 4px solid #FF0037;
    cursor: pointer;
    transition: background-color 0.5s ease;
    gap: 53px;
    position: absolute;
    margin-top: -3px;
    margin-left: 487px;
    transform: translateY(-50%)
}

.btn-with-svg-2 .icon {
    width: 32px;
    height: 32px;
}

.btn-with-svg-2:hover {
    background-color: #FF0037;
}

.btn-with-svg-3 {
    display: inline-flex;
    align-items: centre;
    justify-content: space-between;
    padding: 14px 11px 14px 38px;
    font-family: Outfit;
    font-size: 30px;
    background-color: #FE91A1;
    color: #FFF5F3;
    border: 4px solid #FF0037;
    cursor: pointer;
    transition: background-color 0.5s ease;
    gap: 53px;
    position: absolute;
    margin-top: -3px;
    margin-left: 726px;
    transform: translateY(-50%)
}

.btn-with-svg-3 .icon {
    width: 32px;
    height: 32px;
}

.btn-with-svg-3:hover {
    background-color: #FF0037;
}

.btn-with-svg-4 {
    display: inline-flex;
    align-items: centre;
    justify-content: space-between;
    padding: 14px 11px 14px 38px; 
    font-family: Outfit;
    font-size: 30px;
    width: 250px;
    background-color: #FE91A1;
    color: #FFF5F3;
    border: 4px solid #FF0037;
    cursor: pointer;
    transition: background-color 0.5s ease;
    gap: 53px;
    position: absolute;
    margin-top: -3px;
    margin-left: 979px;
    transform: translateY(-50%)
}

.btn-with-svg-4:hover {
    background-color: #FF0037;
}

.contact-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangle-1 {
    position: absolute;
    margin-left: 238px;
    margin-top: 134px;
    width: 999px;
    height: 721px;
    background-color: #FF0037;  
}

.rectangle-2 {
    position: absolute;
    margin-top: 112px;
    margin-left: 213px;
    width: 999px;
    height: 721px;
    background-color: #FFF5F3; 
    border: 4px solid #FF0037; 
}

.rectangle-3 {
    position:absolute;
    z-index: 1;
    margin-left: 213px;
    margin-top: 112px;
    width: 999px;
    height: 73px;
    background-color: #FE91A1; 
    border: 4px solid #FF0037; 
}

.circle {
    width: 22px;
    height: 22px;
    background-color: #FFF5F3; 
    border: 4px solid #FF0037;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
}

.circle-1 {
    top: 140px;
    left: 264px; 
}

.circle-2 {
    top: 140px; 
    left: 308px; 
}

.text-wrapper-2 {
    margin-top: 130px;
    margin-left: 370px;
    width: 500px;
    font-size: 30px;
    letter-spacing: -1px;
    color: #FFF5F3;
    z-index:2;
    position: absolute;
}

.name-container{
    width: 976px;
    z-index: 2;
    margin-left: 168px;
}

.entryarea{
    position: relative;
    top: 242px;
    left: 100px;
    height: 10px;
    line-height: 40px;
    z-index: 2;
}

.input{
    position: absolute;
    width: 90%;
    outline: none;
    font-size: 30px;
    padding: 15px 35px;
    line-height: 38px;
    border: 4px solid #ff0037;
    background: transparent;
    transition: 0.1s;
    z-index: 3;
    color: #FF0037;
}

.labelline{
    position: absolute;
    font-size: 30px;
    color: #FE91A1;
    padding: 15px 35px;
    margin: 0 0px;
    background-color:#FFF5F3;
    transition: 0.2s ease;
}

.input:focus, .input:valid {
    border: 4px solid #FF0037
}

input:focus + .labelline, .input:valid + .labelline{
    color: #FE91A1;
    left: 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.7);
    z-index:3;
}

.subject-container{
    width: 976px;
    z-index: 2;
    margin-left: 168px;
}

.entryarea-1{
    position: relative;
    margin-top: 342px;
    left: 100px;
    height: 10px;
    line-height: 40px;
    z-index: 2;
}

.input-1{
    position: absolute;
    width: 90%;
    outline: none;
    font-size: 30px;
    padding: 15px 35px;
    line-height: 38px;
    border: 4px solid #ff0037;
    background: transparent;
    transition: 0.1s;
    z-index: 3;
    color: #FF0037;
}

.labelline-1{
    position: absolute;
    font-size: 30px;
    color: #FE91A1;
    padding: 15px 35px;
    margin: 0 0px;
    background-color:#FFF5F3;
    transition: 0.2s ease;
}

.input-1:focus, .input-1:valid {
    border: 4px solid #FF0037
}

.input-1:focus + .labelline-1, .input-1:valid + .labelline-1{
    color: #FE91A1;
    left: 13px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.7);
    z-index:3;
}

.email-container{
    width: 976px;
    z-index: 2;
    margin-left: 168px;
}

.entryarea-2{
    position: relative;
    height: 10px;
    line-height: 40px;
    z-index: 2;
    top: 102px;
    left: 100px;
}

.input-2{
    position: absolute;
    width: 90%;
    outline: none;
    font-size: 30px;
    padding: 15px 35px;
    line-height: 38px;
    border: 4px solid #ff0037;
    background: transparent;
    transition: 0.1s;
    z-index: 3;
    color: #FF0037;
}

.labelline-2{
    position: absolute;
    font-size: 30px;
    color: #FE91A1;
    padding: 15px 35px;
    margin: 0 0px;
    background-color:#FFF5F3;
    transition: 0.2s ease;
}

.input-2:focus, .input-2:valid {
    border: 4px solid #FF0037
}

.input-2:focus + .labelline-2, .input-2:valid + .labelline-2{
    color: #FE91A1;
    left: 2px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.7);
    z-index:3;
}

.message-container{
    width: 976px;
    z-index: 2;
    margin-left: 168px;
}

.entryarea-3{
    position: relative;
    height: 10px;
    line-height: 40px;
    z-index: 2;
    top: 200px;
    left: 100px;
}

.input-3{
    position: absolute;
    width: 90%;
  
    outline: none;
    font-size: 30px;
    padding: 15px 35px;
    line-height: 38px;
    border: 4px solid #ff0037;
    background: transparent;
    transition: 0.1s;
    z-index: 3;
    color: #FF0037;
}

.labelline-3{
    position: absolute;
    font-size: 30px;
    color: #FE91A1;
    padding: 15px 35px;
    margin: 0 0px;
    background-color:#FFF5F3;
    transition: 0.2s ease;
}

.input-3:focus, .input-3:valid {
    border: 4px solid #FF0037
}

.input-3:focus + .labelline-3, .input-3:valid + .labelline-3{
    color: #FE91A1;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.7);
    z-index:3;
}

.custom-button {
    background-color: #FE91A1;            
    font-size: 30px;         
    font-family: "Outfit", sans-serif;       
    padding: 15px 72px 15px 62px; 
    width: 227px;
    color: #FFF5F3;
    border: 4px solid #FF0037;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: absolute; 
    margin-left: 268px;
    margin-top: 320px;
}

.custom-button:hover {
    background-color: #FF0037;
}

.overlap {
    position: absolute;
    width: 100%;
    height: 96px;
    top: 1204px;
    background-color: #fff5f3;
    border-top-width: 4px;
    border-top-style: solid;
    border-color: #ff0037;
    z-index: 1111;
}

.text-wrapper-6 a{
    text-decoration: none;
    position: absolute;
    width: 337px;
    top: 24px;
    left: 900px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #ff0037;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
  }
  
.text-wrapper-7 a{
    text-decoration: none;
    width: 97px;
    top: 24px;
    margin-left: 213px;
    color: #ff0037;
    position: absolute;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
  }
  
 .text-wrapper-8 a{
    text-decoration: none;
    width: 114px;
    top: 24px;
    left: 448px;
    color: #ff0037;
    position: absolute;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
  }

  .text-wrapper-7 a:hover, .text-wrapper-8 a:hover,  .text-wrapper-6 a:hover {
    color: #FE91A1;
}